numpy
matplotlib
m3_learning @ file://C:\Users\ljg23\PycharmProjects\ConvAutoenc_MScProj\m3_learning 
py4DSTEM
scikit-learn==1.4.2
torch
Pillow
tifffile
tqdm
py-cpuinfo
opencv-python
hyperspy
ipywidgets
msgpack
zict
sortedcontainers
pyNSID
pycroscopy
sidpy==0.11.2
torch==2.7.1
torchaudio==2.7.1
torchmetrics==1.7.4
torchvision==0.22.1
wget
xlrd