# core
torch==2.9.0 @ https://download.pytorch.org/whl/nightly/cpu       # GPU build if available
h5py~=3.12
numpy~=1.26
tqdm~=4.66
matplotlib~=3.9
pytorch-lightning~=2.2
hyperspy~=2.3.0
numba~=0.61.2
sklearn~=1.7.0
tifffile
umap-learn~=0.5.9
plotly~=6.2.0
scikit-image

# dev
pytest